@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #282C33;
    font-family: 'Fira Code', monospace;
    color: white;
    font-size: 24px;
}

.morado {
    color: #C778DD;
}

hr {
    border-color: #C778DD;
}

button {
    background-color: #282C33;
    border: 3px #8a2be2 solid;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #8a2be2;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.header-sect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-sect hr {
    width: 80%;
    flex: 0.98;
}

/* Header Style */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    box-shadow: 0px 15px 10px -15px #111;
}

header img {
    max-height: 6vh;
}

.enlaces-menu {
    display: flex;
}

.enlaces-menu a {
    margin-left: 4rem;
    font-size: 20px;
    position: relative;
}

.enlaces-menu a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #8a2be2;
    bottom: -5px;
    left: 0;
}

/* MAIN */

main div {
    margin: 2% 3%;
}

/* Sect-1 Style */

.sect-1 .contenido {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.texto {
    width: 50%;
}

.sect-1 .texto p,
.button {
    margin-top: 4%;
}

.texto button {
    margin-top: 5%;
}

.imagen {
    margin: 2% 0;
    width: 50%;
    background-image: url("../src/img-sect-1-p.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    height: 50vh;
}

.citas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.cita,
.autor {
    border: 3px solid #C778DD;
    padding: 2%;
    text-align: center;
    margin: 0;
}

.autor {
    border-top: 0;
    align-self: flex-end;
    width: 30%;
}

/* Sect-2 Style */

.about-me {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: first baseline;
}

.container-yo,
.container-skills {
    width: 50%;
}

.skills {
    display: flex;
    flex-direction: row;
}

.header-skill {
    border-bottom: 3px solid #C778DD;
}

.skill p {
    margin-top: 30%;
}

/* Sect-3 Style */

.projects {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.project {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #363636;
    height: auto;
    min-height: 45vh;
}

.project img {
    max-height: 30vh;
}

.text-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.enlace-proyecto {
    align-self: flex-end;
}

/* Sect-4 Style */

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 80%;
    margin: 0 auto;
}

.cta-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid #8a2be2;
    height: 100%;
    flex: .5;
}

input,
textarea {
    width: 100%;
    background-color: #282C33;
    color: white;
    font-size: 20px;
    padding: 10px;
}

input::placeholder,
textarea::placeholder {
    color: whitesmoke;
}

input:focus, textarea:focus {
    outline: none;
}

input {
    flex: 0.1;
    border-bottom: 3px solid #8a2be2;
}

textarea {
    flex: 0.9;
    resize: none;
    border: 0;
}

.cta-form button {
    width: 100%;
    border: 0;
    border-top: 3px solid #8a2be2;
}

.sect-4 h2 {
    text-align: center;
    padding: 2%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px -15px 10px -15px #111;
    height: 10vh;
    margin-top: 2%;
}
